<?php
return array(    
    'db' => array(
        /* for more config option see zend\db documentation
        'driver' => '',
        'database' => '',
        'username' => '',
        'password' => '',         
         */
    ),   
    'stefano_db' => array(
        /*
         * //This is executed once after db adapter object is created
        'sqls' => array(
            "SET time_zone='+0:00'",
            "....." 
        )
         */
    ),
);